* {
  font-family: 'AcuminVariableConcept', sans-serif;
}

.roulette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  overflow: hidden;
  margin-bottom: 10px;
}

.roulette-container .wheel-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.roulette-container .wheel-segment img {
  max-width: 80%;
  max-height: 80%;
}

.roulette-container button {
  padding: 10px 20px;
  background-color: #817150;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s;
}

.roulette-container button:hover {
  background-color: #d4e6c9;
  color: #817150;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 100%;
  max-width: 500px;
}

.random-number {
  font-size: 2rem;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  gap: 20px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #d4e6c9;
  color: #817150;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-h2 {
  font-size: 2rem;
}

.modal-number {
  font-size: 1.9rem;
}

.modal button {
  padding: 10px 20px;
  background-color: #817150;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.6s;
}

.modal button:hover {
  background-color: #fff;
  color: #817150;
}

.modal img {
  width: 100%;
  max-width: 230px;
}



