.roulette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  font-family: 'Gatorade-Black';
  color: #fff;
  overflow: hidden;
}

.roulette-container .wheel-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.roulette-container .wheel-segment img {
  max-width: 80%;
  max-height: 80%;
}

.roulette-container button {
  padding: 10px 20px;
  background-color: #817150;
  border: none;
  color: #fff;
  font-family: 'Gatorade-Black';
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s;
}

.roulette-container button:hover {
  background-color: #d4e6c9;
  color: #817150;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.title img {
  width: 100%;
  max-width: 700px;
}

.random-number {
  font-size: 2rem;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  gap: 20px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #d4e6c9;
  color: #817150;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-h2 {
  font-size: 2rem;
  font-family: 'Gatorade-Black';
}

.modal-number {
  font-size: 1.9rem;
  font-family: 'Gatorade-Black';
}

.modal button {
  padding: 10px 20px;
  background-color: #817150;
  border: none;
  color: #fff;
  font-family: 'Gatorade-Black';
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.6s;
}

.modal button:hover {
  background-color: #fff;
  color: #817150;
}

.modal img {
  width: 100%;
  max-width: 250px;
}

/* Laptop ONLY media query */

@media (min-width: 1024px) and (max-width: 1440px) {
  .roulette-container {
    gap: 10px;
  }

  .city-selector {
    gap: 30px;
  }

  .city-selector label {
    font-size: 2.4rem;
  }

  .city-select-input {
    padding: 10px 25px;
    font-size: 1.4rem;
  }

  .random-number {
    font-size: 2.2rem;
  }

  .modal {
    padding: 30px;
  }

  .modal-h2 {
    font-size: 2rem;
  }

  .modal-number {
    font-size: 2rem;
  }

  .modal button {
    padding: 15px 30px;
    font-size: 1.4rem;
  }
}