* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AcuminVariableConcept', sans-serif;
}

@font-face {
  font-family: 'AcuminVariableConcept';
  src: url(./fonts/AcuminVariableConcept.otf);
}

body {
  background-size: cover;
  background-position: center;
  background-image: url(./assets/background.png);
}

.sc-gsTCUz{
  transform: scale(0.9) !important;

}
